@font-face {
  font-family: "Pretendard";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src:
    url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/packages/pretendard/dist/web/variable/woff2/PretendardVariable.woff2")
      format("woff2-variations"),
    url("/fonts/PretendardVariable.woff2") format("woff2-variations");
}

body,
.container,
.main-content,
.header,
.greeting h1,
.header-actions,
.stats-container,
.card,
.column,
.controls,
.search-box,
.search-box input,
.filters,
.filter-btn,
.add-btn,
.sort-bar,
.bar-wrap,
.board,
.task-list,
.reset-btn,
.nickname-text,
.nickname-edit-input {
  transition: all 0.6s ease;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* 필터 할 때 나오는 부분 가려놓음 (정렬: 오름차순) 제외!! */
.container .hidden {
  display: none;
}

/* ----- 메인 구역 ----- */
.main-content {
  flex: 1;
  padding: 0;
  /* overflow-y: auto; */
  height: 100%;
}

/* ----- 해더 ----- */
.header {
  padding: 30px 45px;
  margin-bottom: 30px;
  background: #ffffff;
}

/* 좋은 OO이에요! */
.greeting h1 {
  font-size: 40px;
  font-weight: 700;
}

.highlight {
  color: #4e56ed;
}

/* 20OO년 OO월 OO일 */
.date {
  font-size: 17px;
  font-weight: 600;
  margin-top: 10px;
}

/* ----- 테마 버튼 ----- */
.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-btn img {
  width: 33px;
  height: 33px;
  transition: all 0.3s ease-in-out;
}

.icon-btn.theme img {
  transform: scale(1) rotate(0deg);
}

.icon-btn.theme:hover img {
  transform: scale(1.1) rotate(120deg);
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(345deg) brightness(101%) contrast(101%);
}

/* ----- 중앙 영역 시작 ----- */
.content-wrap {
  padding: 0px 40px 40px 40px;
}

/* ----- 5개 카드 분할 ----- */
.stats-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  margin-bottom: 40px;
}

/* ----- 카드 ----- */
.card {
  width: 100%;
  height: 165px;
  border-radius: 30px;
  border-top: 4px solid;
  padding: 30px 0px 84px 30px;
}

/* 카드 테두리 색 */
.card.total {
  border-top-color: #4e56ed;
}

.card.todo {
  border-top-color: #f22a2a;
}

.card.ing {
  border-top-color: #f59e0b;
}

.card.done {
  border-top-color: #22c55e;
}

.card.achieve {
  border-top-color: #8b5cf6;
}

.card.total:hover,
.card.todo:hover,
.card.ing:hover,
.card.done:hover,
.card.achieve:hover {
  transform: scale(1.03);
}

/* ----- Total Takes / To Do / In Progress / Done / Achievement ----- */
.card h3 {
  font-size: 16px;
  font-weight: 500;
  color: #6a6a6a;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* --- 남은 카운트 --- */
.total-number {
  font-size: 40px;
  font-weight: 500;
}

.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
  margin-bottom: 30px;
}

/* ----- 컨트롤러 부분 ----- */
.controls-wrap {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.controls {
  flex: 1;
  /* box-sizing: border-box; */
  display: flex;
  gap: 15px;
  padding: 25px;
  border-radius: 20px;
  flex-wrap: wrap;
}

/* ----- 할 일 검색... ----- */
.search-box input {
  width: 100%;
  min-width: 300px;
  height: 61px;
  padding: 18px;
  background: #fffeff;
  /* border: 1px solid #cfcfcf;
  border-radius: 15px; */
  box-shadow: 0px 3px 6px rgba(122, 122, 122, 0.25);
  border-radius: 10px;
}

/* ----- 필터 ----- */
.filters {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.filter-btn {
  box-shadow: 0px 3px 6px rgba(122, 122, 122, 0.25);
  border-radius: 10px;
  font-weight: 500;
  width: 154px;
  height: 61px;
  /* background: #ffffff; */
  /* border: 1px solid #e2e2e2; */
}

/* ----- 정렬 부분 빼고 화살표 표시 ----- */
.filter-btn:not(.sort)::after {
  content: "▼";
  font-size: 12px;
  color: #555555;
  margin-left: 10px;
}

.filter-btn.sort {
  border-radius: 30px;
}

/* ----- 전체 우선순위 선택 ----- */
.filter-dropdown {
  position: relative;
}

/* ----- 드롭다운 박스 ----- */
.dropdown-menu {
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  border-radius: 15px;
  /* border: 1px solid #cfcfcf; */
  box-shadow: 0px 3px 6px rgba(122, 122, 122, 0.25);
  top: 63px;
  padding: 10px;

  /* 숨겨둠!! */
  display: none;
}

/* ----- active 됐을 때 (높음, 중간, 낮음) 보이기 ----- */
.filter-dropdown.active .dropdown-menu {
  display: block;
}

/* ----- 높음, 중간, 낮음 ----- */
.dropdown-menu li {
  font-size: 15px;
  cursor: pointer;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-item:hover {
  color: #f22a2a;
}

/* ----- 정렬: 오름차순 (하이라이트) ----- */
.sort-highlight {
  color: #4e56ed;
}

/* ----- 추가 버튼 / + 새 할 일... ----- */
.add-btn {
  color: white;
  width: 100%;
  height: 61px;
  padding: 18px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
}

/* ----- 현재 정렬 상황 ----- */
.sort-bar {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 23px;
  margin: 10px 0px 20px 0px;
  font-size: 15px;
  font-weight: 600;
}

.bar-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffeff;
  border: 1px solid #cfcfcf;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0px 3px 6px rgba(122, 122, 122, 0.25);
  gap: 8px;
  white-space: nowrap;
  min-width: fit-content;
}

/* X 버튼 */
.close-filter-btn {
  font-weight: 500;
  color: #f22a2a;
  font-size: 13px;
}

/* ----- 전체 데이터 초기화 ----- */
.bar-wrap:last-child {
  margin-left: auto;
}

.reset-wrap {
  box-shadow: none;
  background-color: #fafafa;
  border: none;
}

.reset-btn {
  color: #f22a2a;
  font-weight: 600;
  font-size: 17px;
}

.profile-container {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  gap: 100px;
}

.profile-img-wrap {
  display: flex;
  flex-direction: column;
}

.profile-img-wrap img {
  width: 200px;
  height: 200px;
}

.profile-img-wrap button {
  font-size: 13px;
  display: flex;
  justify-content: flex-end;
  color: #2b2b2b90;
}

/* ----- 현재 진행상황 - 박스 분할 ----- */
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

/* ----- 박스 3개 ----- */
.column {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0 0 4px 2px #f5b23d;
  border-radius: 25px;
}

/* ----- 할 일 / 진행 중 / 완료 ----- */
.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  margin-bottom: 15px;
  font-size: 25px;
  padding: 15px 11px 15px 20px;
}

/* 할 일 - 경계선 */
.to-do {
  border-bottom-color: #f22a2a;
  box-shadow: 0 6px 3px -3px #ee5d5d;
  border-bottom-width: 2px;
  /* border-radius: 15px; */
}

/* 진행 중 - 경계선 */
.column-header.ing {
  border-bottom-color: #f59e0b;
  box-shadow: 0 6px 3px -3px #f5b23d;
  border-bottom-width: 2px;
  /* border-radius: 15px; */
}

/* 완료 - 경계선 */
.finish {
  border-bottom-color: #22c55e;
  box-shadow: 0 6px 3px -3px #57ec8e;
  border-bottom-width: 2px;
  /* border-radius: 15px; */
}

/* task 박스 */
.task-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 470px;
  max-height: 600px;
  overflow-y: auto;
}

.column:nth-child(1) .task-list::-webkit-scrollbar,
.column:nth-child(2) .task-list::-webkit-scrollbar,
.column:nth-child(3) .task-list::-webkit-scrollbar {
  width: 5px;
}

.column:nth-child(1) .task-list::-webkit-scrollbar-thumb {
  background-color: #ff000017;
  border-radius: 30px;
}

.column:nth-child(2) .task-list::-webkit-scrollbar-thumb {
  background-color: #f5b23d26;
  border-radius: 30px;
}

.column:nth-child(3) .task-list::-webkit-scrollbar-thumb {
  background-color: #57ec8e2a;
  border-radius: 30px;
}
