/* 폰트 */
@font-face {
  font-family: "Pretendard";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/packages/pretendard/dist/web/variable/woff2/PretendardVariable.woff2")
      format("woff2-variations"),
    url("/fonts/PretendardVariable.woff2") format("woff2-variations");
}

/* 전체 애니메이션 효과 */
body,
.container,
.main-content,
.header,
.greeting h1,
.header-actions,
.header-actions span,
.stats-container,
.card,
.column,
.controls,
.content-wrap,
.filter-container,
.controls-wrap,
.profile-container,
.sort-bar,
.bar-wrap,
.board,
.task-list,
.reset-btn,
.nickname-text,
.nickname-edit-input {
  transition: all 0.5s linear;
}

/* 레이아웃 */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.footer p {
  font-size: 13px;
  font-weight: 400;
  color: #a1a1a1;
  letter-spacing: 0.5px;
}

.main-content {
  flex: 1;
  padding: 0;
}

.content-wrap {
  padding: 0px 45px 40px 45px;
}

.container .hidden {
  display: none;
}

.highlight {
  color: #4e56ed;
}

/* 헤더 영역 */
.header {
  padding: 30px 55px;
  margin-bottom: 40px;
  background: #ffffff;
}

.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-actions span {
  font-size: 23px;
  font-weight: 700;
  letter-spacing: -1.5px;
  color: #ffffff;

  animation: rainbow 10s infinite linear;
}

@keyframes rainbow {
  0% {
    text-shadow: 0 0 4px #fff, 0 0 4px #ff0000;
  }
  20% {
    text-shadow: 0 0 4px #ff8000bd, 0 0 4px #ff8000;
  }
  40% {
    text-shadow: 0 0 4px #ffd500d4, 0 0 4px #ffd500;
  }
  60% {
    text-shadow: 0 0 4px #00a400bf, 0 0 4px #00ba00;
  }
  80% {
    text-shadow: 0 0 4px #fff, 0 0 4px #0000ff;
  }
  100% {
    text-shadow: 0 0 4px #fff, 0 0 4px #ff00ff;
  }
}

/* 인사말 */
.greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greeting h1 {
  font-size: 45px;
  font-weight: 700;
}

/* 날짜 */
.date {
  font-size: 20px;
  font-weight: 700;
  margin-top: 25px;
}

/* 테마 버튼 */
.icon-btn img {
  width: 33px;
  height: 33px;
  transition: all 0.3s ease-in-out;
}

.icon-btn.theme img {
  transform: scale(1) rotate(0deg);
}

.icon-btn.theme:hover img {
  transform: scale(1.6);
}

/* 상단 통계 카드 */
.stats-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  margin-bottom: 40px;
}

.card {
  width: 100%;
  height: 160px;
  border-radius: 25px;
  border-top: 4px solid;
  padding: 30px 0px 84px 30px;
}

.card h3 {
  font-size: 16px;
  font-weight: 500;
  color: #6a6a6a;
  margin-top: 10px;
  margin-bottom: 15px;
}

.total-number {
  font-size: 40px;
  font-weight: 500;
}

/* 카드별 색상 */
.card.total {
  border-top-color: #4e56ed;
}

.card.todo {
  border-top-color: #f22a2a;
}

.card.ing {
  border-top-color: #f59e0b;
}

.card.done {
  border-top-color: #22c55e;
}

.card.achieve {
  border-top-color: #8b5cf6;
}

/* 카드 호버 효과 */
.card.total:hover,
.card.todo:hover,
.card.ing:hover,
.card.done:hover,
.card.achieve:hover {
  transform: scale(1.07);
}

/* 필터 및 컨트롤 */
.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
  margin-bottom: 30px;
}

.controls-wrap {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.controls {
  flex: 1;
  display: flex;
  gap: 25px;
  padding: 25px;
  border-radius: 20px;
  flex-wrap: wrap;
}

/* 검색창 */
.search-box {
  width: 100%;
}

.search-box input {
  width: 100%;
  min-width: 300px;
  height: 61px;
  padding: 18px;
  background: #fffeff;
  box-shadow: 0px 3px 6px rgba(122, 122, 122, 0.25);
  border-radius: 10px;
  box-sizing: border-box;
}

/* 필터 버튼 그룹 */
.filters {
  width: 100%;
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.filter-btn {
  box-shadow: 0px 3px 6px rgba(122, 122, 122, 0.25);
  border-radius: 10px;
  font-weight: 500;
  min-width: 154px;
  height: 61px;
  width: 100%;
}

.filter-btn:not(.sort)::after {
  content: "▼";
  font-size: 12px;
  color: #555555;
  margin-left: 10px;
}

.filter-btn.sort {
  border-radius: 30px;
  flex: 1;
}

.sort-highlight {
  color: #4e56ed;
}

/* 새 할 일 버튼 */
.add-btn {
  color: white;
  width: 100%;
  height: 61px;
  padding: 18px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
}

/* 드롭다운 메뉴 */
.filter-dropdown {
  position: relative;
  flex: 1;
}

.dropdown-menu {
  position: absolute;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 3px 6px rgba(122, 122, 122, 0.5);
  top: 63px;
  padding: 10px;
  z-index: 1000;
  background-color: #fff;
  display: none;
}

.filter-dropdown.active .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  font-size: 15px;
  cursor: pointer;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu li:hover .dropdown-item {
  color: #f22a2a;
}

/* 정렬 상태바 */
.sort-bar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin: 10px 0px 10px 0px;
  font-size: 15px;
  font-weight: 600;
  flex-wrap: wrap;
}

.bar-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffeff;
  border: 1px solid #cfcfcf;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0px 3px 6px rgba(122, 122, 122, 0.25);
  gap: 8px;
  white-space: nowrap;
  width: calc(50% - 20px);
  min-width: fit-content;
}

.close-filter-btn {
  font-weight: 500;
  color: #f22a2a;
  font-size: 13px;
}

.reset-wrap {
  box-shadow: none;
  background-color: #fafafa;
  border: none;
}

.reset-btn {
  color: #f22a2a;
  font-weight: 600;
  font-size: 17px;
}

/* 프로필 영역 */
.profile-container {
  width: calc(50% - 10px);
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-self: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px 20px;
}

.profile-img-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img-wrap img {
  width: calc(100% - 10px);
  max-width: 250px;
  max-height: 250px;
  min-width: 150px;
  min-height: 150px;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.profile-img-wrap img:hover {
  transform: scale(1.05) rotate(5deg);
  transition: all 0.3s ease-in-out;
}

.profile-img-wrap svg {
  padding: 7px;
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  bottom: 9px;
  right: 18px;

  fill: rgb(63, 63, 63);
  background-color: #4b4b4b21;
}

.profile-img-wrap svg:hover {
  transform: scale(1.1);
  cursor: pointer;
  fill: rgb(0, 0, 0);
  transition: all 0.3s;
}

/* 보드 */
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.column {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0 0 4px 2px #f5b23d;
  border-radius: 25px;
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  margin-bottom: 15px;
  font-size: 25px;
  padding: 15px 11px 15px 20px;
}

/* 컬럼별 스타일 */
.to-do {
  border-bottom-color: #f22a2a;
  box-shadow: 0 6px 3px -3px #ee5d5d;
  border-bottom-width: 2px;
}

.column-header.ing {
  border-bottom-color: #f59e0b;
  box-shadow: 0 6px 3px -3px #f5b23d;
  border-bottom-width: 2px;
}

.finish {
  border-bottom-color: #22c55e;
  box-shadow: 0 6px 3px -3px #57ec8e;
  border-bottom-width: 2px;
}

/* 할 일 리스트 영역 */
.task-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 470px;
  max-height: 600px;
  overflow-y: auto;
}

/* 스크롤바 커스텀 */
.column:nth-child(1) .task-list::-webkit-scrollbar,
.column:nth-child(2) .task-list::-webkit-scrollbar,
.column:nth-child(3) .task-list::-webkit-scrollbar {
  width: 5.5px;
}

.column:nth-child(1) .task-list::-webkit-scrollbar-thumb {
  background-color: #ff00001b;
  border-radius: 30px;
}

.column:nth-child(2) .task-list::-webkit-scrollbar-thumb {
  background-color: #f5b23d1b;
  border-radius: 30px;
}

.column:nth-child(3) .task-list::-webkit-scrollbar-thumb {
  background-color: #57ec8e1b;
  border-radius: 30px;
}
