.container {
   display: flex;
   height: 100vh;
   width: 100vw;
}

/* 사이드 바 */
.sidebar {
   width: 100px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   padding: 55px 0;
}

/* 메인 */
.main-content {
   flex: 1;
   padding: 40px;
}

/* 헤더 */
.header {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   margin-bottom: 45px;
}

.greeting h1 {
   font-size: 40px;
   font-weight: 700;
}

.date {
   font-size: 17px;
   font-weight: 600;
   margin-top: 16px;
}

.icon-btn {
}

/* 통계 */
.stats-container {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   gap: 44px;
   margin-bottom: 57px;
}

.card {
   width: 285px;
   height: 137px;
   left: 217px;
   top: 200px;
   background: #fffeff;
   box-shadow: 0px 3px 6px rgba(119, 119, 119, 0.25);
   border-radius: 20px;
}

.card h3 {
   font-size: 16px;
   font-weight: 500;
   color: #6a6a6a;
   margin-bottom: 6px;
}

.total-number {
   font-size: 40px;
   font-weight: 500;
}

/* 컨트롤러 부분 */
.controls {
   display: flex;
   gap: 15px;
   margin-bottom: 20px;
}

.search-box input {
   width: 328px;
   height: 61px;
   background: #fffeff;
   border: 1px solid #cfcfcf;
   border-radius: 15px;
}

.filter-btn {
   width: 175px;
   height: 61px;
   background: #fffeff;
   border: 1px solid #cfcfcf;
   border-radius: 15px;
}

.add-btn {
   margin-left: auto;
   color: white;
   background-color: #4e56ed;
   padding: 18px 184px;
   border-radius: 8px;
   font-size: 20px;
   font-weight: 600;
   cursor: pointer;
}

/* 정렬 */
.sort-bar {
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
   font-size: 17px;
   font-weight: 600;
}

.bar-wrap {
   width: 143px;
   height: 43px;
   border-radius: 30px;
}

.reset-btn {
   color: #ff0000;
   font-weight: 600;
   font-size: 17px;
}

/* 메모 */
.board {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 88px;
}

.column {
   border-radius: 12px;
   padding: 20px;
   display: flex;
   flex-direction: column;
}

.column-header {
   display: flex;
   justify-content: space-between;
   padding-bottom: 15px;
   margin-bottom: 15px;
   border-bottom: 2px solid;
}

.to-do {
   border-bottom-color: #f22a2a;
}

.ing {
   border-bottom-color: #f2c72a;
}

.finish {
   border-bottom-color: #3bad03;
}
