:root {
  /* --bg: #ffffff; */
  --bg: url("../assets/img/light.png");
  --bg-attachment: fixed;
  /* --panel: #ffffff; */
  --panel: rgba(255, 255, 255, 0.2);
  --panel2: #ffffff;
  --text: #121216;
  --muted: #6a6a6a;
  --muted2: #767676;
  /* --border: #cfcfcf; */

  --shadow: 0px 3px 6px rgba(174, 174, 174, 0.736);
  --shadow2: 0px 3px 6px rgba(174, 174, 174, 0.736);
  --primary: #4e56ed;
  --focus: rgba(99, 102, 241, 0.22);
}

/* 다크 모드 */
body.dark {
  --bg: #151516;
  --panel: #19191d;
  --panel2: #18181b;

  --text: #e5e7eb;
  --muted: #94a3b8;
  --muted2: #94a3b8;
  --border: #f59e0b;

  --shadow: 0px 3px 6px rgba(166, 166, 166, 0.315);
  --shadow2: 0px 3px 6px rgba(218, 218, 218, 0.153);

  --primary: #4e56ed;
  --focus: rgba(129, 140, 248, 0.18);
}

body.dark .header-actions img {
  filter: invert(1) brightness(1.1);
}

body.dark #themeToggle img {
  filter: none;
  transition: all 0.3s ease-in-out;
}

body.dark #themeToggle:hover img {
  transform: scale(1.1) rotate(120deg);
}
/* 전체 배경/텍스트 */
body {
  background: var(--bg);
  color: var(--text);
  /* 추가 */
  background-attachment: var(--bg-attachment);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* 헤더 */
.header {
  background: var(--panel);
  /* box-shadow: var(--shadow); */
}

/* body.dark .header {
  box-shadow: 0px 3px 6px rgba(167, 167, 167, 0.15);
} */

.greeting h1 {
  color: var(--text);
}

.date {
  color: var(--muted2);
}

/* 카드/컨트롤 */
.card,
.controls,
.column {
  background: var(--panel);
  box-shadow: var(--shadow);

  /* 추가 */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

/* 카드 제목 */
.card h3 {
  color: var(--muted);
}

/* 컨트롤 input/버튼 */
.search-box input,
.select-wrap select,
.filter-btn,
.form-input,
.form-textarea,
.dropdown-menu,
.dropdown-item {
  background: var(--panel2);
  color: var(--text);
  border-color: #b0b0b0;
}

.bar-wrap {
  border: none;
  background: var(--panel2);
  color: var(--text);
}

.reset-wrap {
  border: none;
  background: none;
}

/* placeholder */
.search-box input::placeholder,
.form-input::placeholder,
.form-textarea::placeholder {
  color: var(--muted2);
}

/* 보드 헤더 글자 */
.column-header {
  color: var(--muted2);
}

/* “없음” 문구 */
.to-do-msg,
.ing-msg,
.finish-msg {
  color: var(--muted2);
}

/* + 새 할 일 버튼 */
.add-btn {
  background-color: var(--primary);
  box-shadow: var(--shadow);
}

/* 정렬바 */
.sort-bar {
  color: var(--muted2);
}

.reset-wrap {
  border: none;
  box-shadow: none;
}

/* 포커스 */

/* 기존 */
/* .search-box input,
.filter-btn,
.add-btn {
  transform: 0.3s ease;
  box-shadow: 0 0 0 rgba(167, 167, 167, 0.15);
} */

.search-box input:focus,
.filter-btn:focus,
.add-btn:focus {
  outline: none;
  /* border: 1px solid #6366f1; */
  box-shadow: 1px 2px 5px -1px rgba(43, 46, 255, 0.652);
  transition: all 0.3s ease-in-out;
  transform: translateY(-0.8px);
}

/* 새 할일 모달 안 버튼컬러*/
.form-input:focus:focus,
.form-textarea:focus,
.select-wrap select:focus {
  outline: none;
  box-shadow: 0px 3px 6px rgba(119, 119, 119, 0.15);
}

/* 우선순위 내 task-card background 투명도 0  */
.task-card {
  background-color: rgb(255 255 255);
}

/* ===== 모달 다크 ===== */
body.dark .modal-card {
  background-color: var(--panel);
  color: var(--text);
  border-color: var(--border);
  box-shadow: 0 0 2px 0.5px #f5b23d;
}

body.dark .card {
  box-shadow: 0px 3px 6px rgba(167, 167, 167, 0.15);
}

body.dark .modal-card-title,
body.dark .form-label,
body.dark .bottom-actions-left > span,
body.dark .bottom-actions-right > span {
  color: var(--text);
}

body.dark .arrow {
  color: var(--muted2);
}

/* 모달 버튼 호버 다크 대응 */
body.dark .btn-cancel:hover {
  border-color: rgba(148, 163, 184, 0.35);
}

body.dark .btn-submit {
  background: rgba(43, 46, 255, 0.652);
}

body.dark .btn-submit:hover {
  border-color: rgba(129, 140, 248, 0.65);
}

body.dark .bottom-actions-high,
body.dark .bottom-actions-medium,
body.dark .bottom-actions-low {
  color: #ffffff;
}

body.dark .column:nth-child(1) .task-list::-webkit-scrollbar,
body.dark .column:nth-child(3) .task-list::-webkit-scrollbar,
body.dark .column:nth-child(2) .task-list::-webkit-scrollbar {
  width: 5px;
}

body.dark .column:nth-child(1) .task-list::-webkit-scrollbar-thumb,
body.dark .column:nth-child(3) .task-list::-webkit-scrollbar-thumb,
body.dark .column:nth-child(2) .task-list::-webkit-scrollbar-thumb {
  background-color: #534f4f6f;
  border-radius: 30px;
}

body.dark .board .column:nth-child(1):hover {
  box-shadow:
    0 0 0 0.1px #f22a2a,
    0 0 7px #ee5d5d;
}

/* 진행 중 카드 */
body.dark .board .column:nth-child(2):hover {
  box-shadow:
    0 0 0 0.1px #f59e0b,
    0 0 7px #f5b23d;
}

/* 완료 카드 */
body.dark .board .column:nth-child(3):hover {
  box-shadow:
    0 0 0 0.1px #22c55e,
    0 0 7px #57ec8e;
}
