.task-card-deletes {
  display: flex;
  justify-content: flex-end;
  width: auto;
  opacity: 0.5;
  filter: brightness(0) saturate(100%) invert(22%) sepia(95%) saturate(5700%) hue-rotate(355deg)
    brightness(95%) contrast(105%);
}

.task-card-delete {
  position: relative;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

/* 삭제할 card 속도 늦춰서 볼 수 있게 하기  */
.task-card {
  transition:
    opacity 0.5s ease,
    transform 0.5s ease,
    margin 0.5s ease;
}

.task-card.deleting {
  opacity: 0;
  transform: scale(0.95) translateX(10px);
  transition-delay: 0.15s;
  margin-bottom: -60px;
}

/* 다크모드 삭제버튼 컬러 */
/* f22a2a 랑 가장 비슷한 조합 컬러*/
body.dark .task-card-delete {
  filter: brightness(0) saturate(100%) invert(22%) sepia(95%) saturate(5700%) hue-rotate(355deg)
    brightness(95%) contrast(105%);
}
