/* 태블릿 기준 - 1279px */
@media screen and (max-width: 1279px) {
  /* 인사 */
  .greeting h1 {
    font-size: 30px;
  }

  /* 체크 / 테마 */
  .header-actions {
    padding-right: 35px;
  }

  /* ----- 통계 카드 2열로 변경 ----- */
  .stats-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
  }

  .stats-container .card:last-child {
    grid-column: span 2;
  }

  .column {
    margin-bottom: 20px;
  }

  /* ----- 컨트롤러 ----- */
  .controls {
    flex-wrap: wrap;
  }

  /* 검색 창 */
  .search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  /* 필터 */
  .filters {
    justify-content: center;
    flex: 1;
    margin-left: auto;
  }

  /* 추가 버튼 / + 새 할 일... */
  .add-btn {
    margin: auto;
  }

  /* ----- 현재 선택 - 정렬 ----- */
  .sort-bar {
    gap: 20px;
  }

  /* ----- 보드 1열로 변경 ----- */
  .board {
    grid-template-columns: 1fr;
    gap: 30px;
    height: auto;
  }

  .greeting h1 .nickname-container .nickname-text,
  .greeting h1 .nickname-container .nickname-edit-input,
  .greeting h1 .nickname-container .suffix {
    font-size: 31px;
  }
  /* 중간 살짝만 올라가게 */
  .nickname-container .nickname-text,
  .nickname-container .nickname-edit-input {
    transform: translateY(-2.5px);
  }
  .nickname-container .suffix {
    transform: translateY(-2.7px);
  }
}

/* 컨트롤러 중간 조정 */
@media screen and (max-width: 1123px) {
  .controls {
    display: flex;
    gap: 25px;
  }

  .controls input {
    min-width: 160px;
  }

  .reset-btn {
    font-size: 14px;
  }

  .task-list {
    min-height: 300px;
  }

  .add-btn {
    width: 440px;
  }

  /* nickname */
  /* .greeting h1 {
    font-size: 30px;
  }
  .nickname-text,
  .nickname-input,
  .suffix {
    font-size: 30px;
  } */

  /* 1024 닉네임 부분 추가 */
  .nickname-container .nickname-text,
  .nickname-container .nickname-edit-input {
    font-size: 40px;
    font-weight: 600;
    transform: translateY(-2.5px);
  }
  .nickname-container .suffix {
    font-size: 40px;
    font-weight: 600;
    transform: translateY(-3px);
  }
}
/* ----- 모바일 버전 ----- */
@media screen and (max-width: 768px) {
  /* ----- 메인 영역 ----- */
  .main-content {
    padding: 0px 10px 20px 0px;
  }

  /* ----- 헤더 ----- */
  .header {
    justify-content: space-between;
    padding: 30px 20px;
    margin-bottom: 25px;
  }

  /* 인사 */
  .greeting h1 {
    font-size: 23px;
  }

  .date {
    font-size: 13px;
  }

  /* 알람 / 테마 */
  .header-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 10px;
  }

  .icon-btn img {
    width: 25px;
    height: 25px;
  }

  /* 중단 ~ 하단 박스 */
  .content-wrap {
    padding: 0px 10px 30px 10px;
  }

  /* 통계 2열로 변경 */
  .stats-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    margin-bottom: 20px;
  }

  .stats-container .card:last-child {
    grid-column: span 2;
  }

  .card {
    width: 100%;
    min-height: 70px;
  }

  .controls {
    flex-direction: column;
    gap: 10px;
  }

  /* 검색 / 필터 / 추가 */
  .search-box input,
  .filter-btn,
  .add-btn {
    width: 100%;
    justify-content: center;
  }

  .filters {
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .filters > .filter-btn,
  .filters > .filter-dropdown {
    flex: 1 1 calc(50% - 10px);
  }

  /* ----- 정렬 ----- */
  .sort-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    height: auto;
    font-size: 13px;
  }

  .bar-wrap {
    width: auto;
    min-width: 160px;
    flex: 1;
  }

  .bar-wrap.reset-wrap {
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  /* 리셋 버튼 */
  .reset-btn {
    font-size: 13px;
  }

  /* 진행 상황 */
  .column-header {
    font-size: 20px;
  }

  .task-list {
    min-height: 250px;
  }

  .nickname-input {
    width: 110px;
  }
  .greeting h1 .nickname-container .nickname-text,
  .greeting h1 .nickname-container .nickname-edit-input,
  .greeting h1 .nickname-container .suffix {
    font-size: 24px;
  }

  .greeting h1 .nickname-container .nickname-edit-input {
    width: 110px;
    font-size: inherit;
  }
  .nickname-container .nickname-text,
  .nickname-container .nickname-edit-input {
    transform: translateY(-2px);
  }
  .nickname-container .suffix {
    transform: translateY(-2.4px);
  }
}

/* nickname */
@media (min-width: 1024px) {
  .nickname-container .nickname-edit-input {
    font-size: 40px;
  }
}

@media screen and (max-width: 620px) {
  /* ----- 헤더 ----- */
  .header {
    margin-bottom: 20px;
  }

  .greeting h1 {
    font-size: 20px;
  }

  .date {
    font-size: 13px;
  }

  /* 알람 / 테마 */
  .icon-btn img {
    width: 20px;
    height: 20px;
  }

  /* ----- 카드 ----- */
  .card {
    padding: 25px;
  }

  .stats-container {
    margin-bottom: 20px;
  }

  .total-number {
    font-size: 35px;
  }

  .controls {
    padding: 10px;
  }

  /* 버튼 높이 조절 */
  .search-box input {
    height: 43px;
  }

  .filters {
    gap: 10px;
  }

  .filter-btn {
    height: 43px;
  }

  .add-btn {
    height: 43px;
    display: flex;
    align-items: center;
    font-size: 17px;
  }

  .bar-wrap {
    width: auto;
    min-width: 160px;
  }

  .bar-wrap.reset-wrap {
    margin-left: 0;
    /* width: 100%; */
    text-align: center;
  }
}

@media screen and (max-width: 420px) {
  /* 인사칸 내리기 */
  .mobile-br {
    display: block;
  }

  .card {
    padding: 20px 15px;
  }

  .card h3 {
    font-size: 13px;
  }

  .total-number {
    font-size: 30px;
  }
  .total-number {
    font-size: 30px;
  }

  /* nickname */
  .greeting h1 .nickname-container .nickname-text,
  .greeting h1 .nickname-container .nickname-edit-input,
  .greeting h1 .nickname-container .suffix {
    font-size: 20px;
  }

  .greeting h1 .nickname-container .nickname-edit-input {
    width: 90px;
  }
}
