/* 태블릿 기준 - 1279px */
@media screen and (max-width: 1279px) {
  /* 인사 */
  .greeting h1 {
    font-size: 45px;
  }

  /* ----- 통계 카드 2열로 변경 ----- */
  .stats-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }

  .card {
    height: 140px;
    padding: 20px 0px 44px 30px;
  }

  .stats-container .card:last-child {
    grid-column: span 2;
  }

  .column {
    margin-bottom: 20px;
  }

  /* ----- 컨트롤러 ----- */
  .controls {
    flex-wrap: wrap;
  }
  /* 검색 창 */
  .search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  /* 추가 버튼 / + 새 할 일... */
  .add-btn {
    margin: auto;
  }

  .profile-container {
    padding: 15px 10px;
    flex-direction: column;
    align-items: center;
  }

  /* ----- 현재 선택 - 정렬 ----- */
  .sort-bar {
    gap: 20px;
    justify-content: center;
  }

  .board {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    height: auto;
  }

  .board .column:last-child {
    grid-column: span 2;
  }

  .greeting h1 .nickname-container .nickname-text,
  .greeting h1 .nickname-container .nickname-edit-input,
  .greeting h1 .nickname-container .suffix {
    font-size: 35px;
  }

  /* 중간 살짝만 올라가게 */
  .nickname-container .nickname-text,
  .nickname-container .nickname-edit-input {
    transform: translateY(-2.5px);
  }

  .nickname-container .suffix {
    transform: translateY(-2.7px);
  }

  .filters {
    flex-wrap: wrap;
  }
}

/* 컨트롤러 중간 조정 */
@media screen and (max-width: 1123px) {
  .controls {
    display: flex;
    gap: 20px;
  }

  .controls input {
    min-width: 160px;
  }

  .task-list {
    min-height: 300px;
  }

  .profile-container {
    flex-direction: column;
    align-items: center;
  }

  /* 1024 닉네임 부분 추가 */
  .nickname-container .nickname-text,
  .nickname-container .nickname-edit-input {
    font-size: 35px;
    font-weight: 600;
    transform: translateY(-2.5px);
  }

  .nickname-container .suffix {
    font-size: 35px;
    font-weight: 600;
    transform: translateY(-3px);
  }

  .greeting h1 {
    font-size: 35px;
  }

  .sort-bar {
    display: flex;
    flex-wrap: wrap;
  }

  .profile-container {
    padding: 20px 20px;
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .filter-container {
    gap: 25px;
  }

  .column {
    height: 550px;
  }
}

/* ----- 모바일 버전 ----- */
@media screen and (max-width: 768px) {
  /* ----- 헤더 ----- */
  .header {
    padding: 30px 30px;
    margin-bottom: 10px;
  }

  .date {
    font-size: 20px;
  }

  /* 테마 */
  .header-actions {
    display: flex;
    gap: 20px;
    padding-right: 10px;
  }

  .icon-btn img {
    width: 33px;
    height: 33px;
  }

  /* 중단 ~ 하단 박스 */
  .content-wrap {
    padding: 0px 30px 30px 30px;
  }

  .card {
    width: 100%;
    min-height: 50px;
  }

  .controls {
    flex-direction: column;
    gap: 15px;
  }

  .filter-btn {
    font-size: 14px;
    min-width: 120px;
  }

  /* 검색 / 필터 / 추가 */
  .search-box input,
  .filter-btn,
  .add-btn {
    width: 100%;
    justify-content: center;
  }

  .filters {
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
  }

  /* ----- 정렬 ----- */
  .sort-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
    height: auto;
    font-size: 13px;
  }

  .bar-wrap {
    width: auto;
    min-width: 160px;
    flex: 1;
  }

  .bar-wrap.reset-wrap {
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  /* 리셋 버튼 */
  .reset-btn {
    font-size: 13px;
  }

  /* 진행 상황 */
  .column-header {
    font-size: 20px;
  }

  .task-list {
    min-height: 250px;
  }

  .nickname-input {
    width: 110px;
  }

  .column {
    height: 500px;
    margin-bottom: 5px;
  }

  .greeting h1 {
    font-size: 30px;
  }

  .greeting h1 .nickname-container .nickname-text,
  .greeting h1 .nickname-container .nickname-edit-input,
  .greeting h1 .nickname-container .suffix {
    font-size: 30px;
  }

  .greeting h1 .nickname-container .nickname-edit-input {
    width: 110px;
    font-size: inherit;
  }

  .nickname-container .nickname-text,
  .nickname-container .nickname-edit-input {
    transform: translateY(-2px);
  }

  .nickname-container .suffix {
    transform: translateY(-2.4px);
  }

  .bottom-actions-left {
    display: flex;
    flex-wrap: wrap;
  }

  .bottom-actions-high,
  .bottom-actions-medium,
  .bottom-actions-low {
    width: 100%;
    min-width: 58px;
    max-height: 38px;
  }

  .select-wrap select {
    min-width: 200px;
  }

  .profile-img-wrap img {
    width: 200px;
    height: 200px;
  }

  .profile-img-wrap button {
    justify-content: center;
    padding-top: 10px;
  }

  .controls-wrap {
    display: flex;
    width: 100%;
  }

  .filter-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .board {
    grid-template-columns: 1fr;
    gap: 20px;
    height: auto;
  }

  .board .column:last-child {
    grid-column: span 1;
  }
}

@media screen and (max-width: 640px) {
  /* ----- 헤더 ----- */
  .content-wrap {
    padding: 0px 30px 30px 30px;
  }

  .header {
    margin-bottom: 5px;
    padding: 20px 33px;
  }

  .greeting h1 {
    font-size: 20px;
  }

  .date {
    font-size: 13px;
  }

  /* 알람 / 테마 */
  .icon-btn img {
    width: 25px;
    height: 25px;
  }

  .stats-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    margin-bottom: 20px;
  }

  /* ----- 카드 ----- */
  .card {
    padding: 25px;
  }

  .stats-container {
    margin-bottom: 20px;
  }

  .total-number {
    font-size: 35px;
  }

  .controls {
    padding: 15px;
  }

  /* 버튼 높이 조절 */
  .search-box input {
    height: 50px;
  }

  .filters {
    gap: 15px;
  }

  .filter-btn {
    height: 50px;
  }

  .add-btn {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 17px;
  }

  .bar-wrap {
    min-width: 155px;
  }

  .bar-wrap.reset-wrap {
    margin-left: 0;
    /* width: 100%; */
    text-align: center;
  }

  .profile-container {
    width: 100%;
  }

  .profile-img-wrap img {
    max-width: 200px;
  }

  .board {
    gap: 10px;
  }

  .task-card__meta {
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
  }
}

@media screen and (max-width: 420px) {
  /* 인사칸 내리기 */
  .mobile-br {
    display: block;
  }

  .card {
    height: 120px;
    padding: 17px 15px 17px 17px;
  }

  .card h3 {
    font-size: 13px;
  }

  .total-number {
    font-size: 30px;
  }

  .total-number {
    font-size: 30px;
  }

  /* nickname */
  .greeting h1 .nickname-container .nickname-text,
  .greeting h1 .nickname-container .nickname-edit-input,
  .greeting h1 .nickname-container .suffix {
    font-size: 25px;
  }

  .greeting h1 .nickname-container .nickname-edit-input {
    width: 90px;
  }

  .modal-card {
    margin: 10px 10px;
  }

  .bottom-actions-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .bottom-actions-high,
  .bottom-actions-medium,
  .bottom-actions-low {
    width: 40%;
    min-width: 58px;
    max-height: 38px;
  }

  .select-wrap select {
    min-width: 160px;
  }

  .board {
    gap: 10px;
  }

  .profile-img-wrap img {
    max-width: 150px;
    max-height: 150px;
  }

  .profile-img-wrap img:nth-of-type(2) {
    min-width: 20px;
    min-height: 20px;
    width: 20px;
    height: 20px;
    bottom: 5px;
    right: 14px;
  }

  /* 버튼 높이 조절 */
  .search-box input {
    height: 45px;
  }

  .filters {
    gap: 12px;
  }

  .filter-btn {
    height: 45px;
  }

  .add-btn {
    height: 45px;
    font-size: 15px;
  }

  .sort-bar {
    gap: 10px;
  }

  .controls {
    padding: 15px;
  }
}
