.nickname-container {
  display: inline-flex;
  align-items: center;
  /* gap: 10ox; */
  vertical-align: middle;
}
/* .icon-edit-btn {
  padding: 0;
  display: flex;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
} */
/* 기본 닉네임 input  */
.nickname-input {
  display: none;
  padding: 0 10px;
  outline: none;
  width: 220px;
  height: 45px;
  /* border: 1px solid #afaaaaa0; */
  /* border-radius: 8px; */
  background-color: var(--modal-bg);
  color: var(--modal-text);
  font-size: 37px;
  font-weight: 600;
}
.nickname-text,
.nickname-input,
.suffix {
  font-size: inherit !important;
  font-weight: inherit;
}
/* .edit-action-group {
  display: none;
  gap: 10px; 
}*/

/* 닉네임 text 폰트  */
/* .nickname-text,
.nickname-input { 
   font-size: 35px;
  font-weight: 600; 
} */

.nickname-text {
  padding: 2px 8px;
  color: #4e56ed;
  font-size: 38px;
  font-weight: 600;
  /* background: none; */
  /* box-shadow: none; */
  /* border: none; */
  padding: 2px 8px;
  border-radius: 4px;
  line-height: 1.4;
  cursor: pointer;
  position: relative;
  top: -1.3px;
}
/* 님 글자 */
.suffix {
  position: relative;
  top: -1px;
  font-size: 35px;
  font-weight: 600;
  margin-left: 2px;
}

.nickname-text:hover {
  background-color: rgba(78, 86, 237, 0.1);
}

/* 닉네임 수정때 text 수정 */
/* .nickname-edit-input {
  font-weight: 580;
} */
/* 취소 완료 버튼 공통  */
/* .mini-btn {
  padding: 4px 10px;
  font-size: 15px;
  border: 1px solid #afaaaaa0;
  border-radius: 7px;
  background-color: var(--modal-bg);
  color: var(--modal-text);
  cursor: pointer;
  transform: translateY(-4px);
} */
